{% extends "base.html" %}
{% block title %}To Do List{% endblock %}
{% block content %}
<h1>To Do List</h1>
<form method="POST">
    <label>Enter a Task:</label>
    <input type="text" name="task">
    <input type="submit" value="Submit">
</form>

{% for task in tasks %}
<div class="container">
<p class="task">
    <button id="dropdown">+</button>
    {{task}} 
    <button onclick="location.href='edit/{{loop.index0}}';">Edit</button>
    <button onclick="location.href='delete/{{loop.index0}}';">Delete</button> 
</p>
<div class="panel"><p>Lorem ipsum</p></div>
</div>
{% endfor %}
{% endblock %}